* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 18px;
}

.max-width-wrapper {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

header {
  padding-top: 96px;
  padding-bottom: 48px;
}

.intro-chunk {
  padding-left: 32px;
  font-weight: 400;
  font-size: 1.5rem;
  color: hsl(0, 0%, 10%);
  width: 60%;
}

.intro-chunk .title {
  margin-bottom: 48px;
  color: hsl(0deg, 0%, 0%);
  font-weight: 900;
  font-size: 2rem;
}

.intro-chunk strong {
  color: hsl(160deg, 100%, 30%);
}

main {
  border-top: hsl(0, 0%, 40%) 8px solid;
  background-color: hsl(0, 0%, 60%);
  padding-top: 96px;
  padding-bottom: 96px;
}

.card {
  background-color: hsl(0, 0%, 100%);
  padding: 32px;
  padding-bottom: 16px;
  border-bottom: hsl(0, 0%, 40%) 8px solid;
  color: hsl(0deg, 0%, 10%);
  font-size: 1.25rem;
  font-weight: 500;
}

.indented-heading {
  background-color: hsl(45deg, 100%, 50%);
  border-bottom: hsl(45deg, 100%, 40%) 8px solid;
  color: hsl(0, 0%, 0%);
  margin-bottom: 16px;
  margin-top: -24px;
  margin-left: -48px;
  padding: 16px 48px;
  width: fit-content;
  font-size: 1.5rem;
  font-weight: 900;
}